[submodule "tools/AppIcon"]
	path = tools/AppIcon
	url = https://github.com/guo122/AppIcon.git
	shallow = true
[submodule "3rd/SFML"]
	path = 3rd/SFML
	url = https://github.com/guo122/SFML
	shallow = true
[submodule "3rd/bgfx"]
	path = 3rd/bgfx
	url = https://github.com/guo122/bgfx
	shallow = true
[submodule "3rd/bx"]
	path = 3rd/bx
	url = https://github.com/guo122/bx
	shallow = true
[submodule "3rd/bimg"]
	path = 3rd/bimg
	url = https://github.com/guo122/bimg
	shallow = true
[submodule "BuildScript"]
	path = BuildScript
	url = https://github.com/guo122/BuildScript
	shallow = true
[submodule "3rd/ozz-animation"]
	path = 3rd/ozz-animation
	url = https://github.com/guo122/ozz-animation
	shallow = true
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/guo122/imgui
	shallow = true
[submodule "3rd/PhysX"]
	path = 3rd/PhysX
	url = https://github.com/guo122/PhysX
	shallow = true
